<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.onlivestream.mapper.CommentLogMapper">

    <resultMap id="BaseResultMap" type="com.niit.onlivestream.domain.CommentLog">
            <id property="commentid" column="commentId" jdbcType="INTEGER"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="roomlogid" column="roomLogId" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        commentId,uuid,comment,
        roomLogId,createTime
    </sql>
</mapper>
