<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.onlivestream.mapper.PresentInfoMapper">

    <resultMap id="BaseResultMap" type="com.niit.onlivestream.domain.PresentInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="INTEGER"/>
            <result property="illustration" column="illustration" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,value,
        illustration,presentAvatar
    </sql>
</mapper>
