<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.onlivestream.mapper.PresentLogMapper">

    <resultMap id="BaseResultMap" type="com.niit.onlivestream.domain.PresentLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="roomlogId" column="roomLog_id" jdbcType="INTEGER"/>
            <result property="presentid" column="presentId" jdbcType="INTEGER"/>
            <result property="sendtime" column="sendTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uuid,roomLog_id,
        presentId,sendTime
    </sql>
</mapper>
