<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.onlivestream.mapper.RoomInfoMapper">

    <resultMap id="BaseResultMap" type="com.niit.onlivestream.domain.RoomInfo">
            <id property="liveid" column="liveId" jdbcType="INTEGER"/>
            <result property="roomname" column="roomName" jdbcType="VARCHAR"/>
            <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="partitionid" column="partitionId" jdbcType="INTEGER"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        liveId,roomName,uuid,
        partitionId,profile
    </sql>
</mapper>
