<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.onlivestream.mapper.RoomLogMapper">

    <resultMap id="BaseResultMap" type="com.niit.onlivestream.domain.RoomLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="roomforeignid" column="roomForeignId" jdbcType="INTEGER"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="stoptime" column="stopTime" jdbcType="TIMESTAMP"/>
            <result property="totalstar" column="totalStar" jdbcType="INTEGER"/>
            <result property="totalpresentvalues" column="totalPresentValues" jdbcType="INTEGER"/>
            <result property="partitionid" column="partitionId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,createTime,roomForeignId,
        profile,name,stopTime,
        totalStar,totalPresentValues,partitionId
    </sql>
</mapper>
